* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
 color:white ;
 -webkit-font-smoothing: antialiased;

}

body, input, button {
 font-size: ;
 font-family: ;
}

button {
 cursor: pointer;
}
 #video{
     width: 100vw;
    height: 100vh; 
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1; 
 }

/* .fondo__dia{
  background:url(../assets/videos/fondo\ dia.mp4) ;
  width: 100vw;
    height: 100vh; 
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1; 
}
.fondo__noche{

  background:url(../assets/videos/fondo\ noche.mp4) ;
   width: 100vw;
    height: 100vh; 
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1; 
} */